{% extends "twitter/base.html" %}

{% block title %}{{tweet.author.profile_name}} on Twitter: "{{tweet.text}}"{% endblock %}

{% block body %}
<div class="card m-4">
    <div class="card-header d-flex flex-column">
        <span class="fw-bold">{{tweet.author.profile_name}}</span>
        <a href="{% url 'profile' tweet.author.user.username %}" class="text-muted">@{{tweet.author.user.username}}</a>
    </div>
    <div class="card-body d-flex flex-column">
        <span class="fs-5">{{tweet.text}}</span>
        <span class="text-muted">{{tweet.created|date:"g:i A · d M, Y"}}</span>
    </div>
    <div class="card-footer d-flex justify-content-around align-items-center">
        <form method="post">
            {% csrf_token %}
            <input type="hidden" name="tweet_id" value="{{tweet.id}}" />
            {% if not tweet_liked %}<input type="hidden" name="liked" value="on" />{% else %}<input type="hidden" name="liked" value="" />{% endif %}
            <button style="all: unset; cursor: pointer;"><i class="fs-5 {{ tweet_liked|yesno:'bi-heart-fill text-danger,bi-heart text-primary' }}"></i></button>
        </form>
    </div>
</div>
{% endblock %}